* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    color: #f6f7eb;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #e94f37;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #e94f37;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: #e94f37;
    color: #393e41;
    border-radius: 15px;
}