:root {
    --primary-color: #00f5d4;
    --secondary-color: #f6f7eb;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #333333;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 a {
    font-weight: lighter;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    transition: color 1.5s ease-in-out 0s;
}

header h1 a:hover {
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    transition: color 1.5s ease-in-out 0s;
}

header nav ul li a:hover {
    color: var(--primary-color);
}

span {
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 90px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    height: 400px;
}

.container {
    margin: 100px auto;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    align-items: flex-start;
    justify-content: center;
}

/* about me section */

.about-me h2 {
    color: #faf9f9;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    padding-top: 30px;
    padding-right: 60px;
    flex: 1 30%;
}

.aboutme {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 60px;
    border-left: 1px solid var(--primary-color);
}

.aboutme p {
    width: 70%;
    margin-bottom: 20px;
    color: var(--secondary-color);
    line-height: 1.7;
    font-size: 18px;
    padding-top: 20px;
}

.aboutme strong {
    color: #7E7E7E;
    line-height: 1.7;
    font-size: 18px;
    font-weight: normal;
}

.about-img {
    margin-left: 50px;
}

.about-img img {
    max-width: 150px;
    height: auto;
    float: left;
    margin: 20px 20px 0 0;
    padding: 0 10px 10px 0;
    flex: 2 0 0;
}

/* portfolio section */

.showcase h2 {
    color: #faf9f9;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    padding-top: 30px;
    flex: 1 30%;
    padding-right: 60px;
}

.img-container {
    display: flex;
    flex: 1 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid var(--primary-color);
    padding-left: 60px;
    overflow-x: scroll;
}

.img-container .firstwork {
    flex: 1 100%;
    position: relative;
    display: inline-block;
    overflow-x: scroll;
    background-color: #222222;
    padding: 15px;
    margin-bottom: 10px;
}

.firstwork img {
    max-width: 100%;
    display: block;
    opacity: 0.5;
    transition: opacity 1s ease-in-out 0.2s;
}

.firstwork img:hover {
    opacity: 1;
}

.firstwork a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.firstwork a:hover {
    max-width: auto;
    max-height: auto;
    margin: auto;
}

.img-container .work {
    flex: 1 50%;
    position: relative;
    display: inline-block;
    overflow-x: scroll;
    background-color: #222222;
    padding: 15px;
    margin-bottom: 10px;
}

.work img {
    max-width: 100%;
    display: block;
    opacity: 0.7;
    transition: opacity 1s ease-in-out 0.2s;
}

.work img:hover {
    opacity: 1;
}

.work a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.work a:hover {
    max-width: auto;
    max-height: auto;
    margin: auto;
}

.img-container .text {
    position: absolute;
    z-index: 999;
    margin: 0 15px;
    left: 0;
    right: 0;
    top: 50%;
    width: 50%;
    background-color: #222222;
}

.text h3 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: lighter;
    padding-top: 40px;
    padding-right: auto;
    padding-bottom: 15px;
    padding-left: 40px;
}

.text p {
    color: var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: lighter;
    padding-top: 0px;
    padding-right: auto;
    padding-bottom: 40px;
    padding-left: 40px;
}

/* contact me section */

.contact-me h2 {
    color: #faf9f9;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    padding-top: 30px;
    flex: 1 30%;
    padding-right: 60px;
}

.contactme {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-left: 1px solid var(--primary-color);
}

.contactme p {
    margin: 0 auto;
    line-height: 1.7;
    color: var(--secondary-color);
    width: 70%;
    font-size: 20px;
    text-align: left;
}

.contactme a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.5s ease-in-out 0s;
}

.contactme a:hover {
    color: var(--secondary-color);
}

/* footer */

footer {
    background: #333333;
    width: 100%;
    padding: 40px 35px;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

/* media query */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
    }

    header nav ul li a {
        font-size: 16px;
    }

    footer p {
        text-align: center;
        width: 100%;
    }

    .container {
        margin: 100px auto;
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 0 100%;
        align-items: flex-start;
        justify-content: center;
    }

    .about-me h2,
    .showcase h2,
    .contact-me h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 60%;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .aboutme {
        flex: 1 100%;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
    }

    .about-img {
        display: flex;
        justify-content: center;
        padding: 0 20px 10px 0;
    }
    
    .about-img img {
        max-width: 250px;
        padding-bottom: 20px;
    }

    .img-container {
        flex: 1 100%;
        width: 100%;
        height: 100%;
        min-width: 400px;
        border: none;
        margin: 0;
        padding: 0;
    }

    .img-container .firstwork,
    .img-container .work {
        flex: 0 100%;
        width: 70%;
        min-width: 400px;
        border: none;
        margin: 0;
        padding: 15px;
    }

    .text h3 {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: lighter;
        padding-top: 40px;
        padding-right: auto;
        padding-bottom: 15px;
        padding-left: 40px;
    }
    
    .text p {
        color: var(--secondary-color);
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        font-weight: lighter;
        padding-top: 0px;
        padding-right: auto;
        padding-bottom: 40px;
        padding-left: 40px;
    }

    .contactme {
        border: none;
    }
}