:root {
    --primary-color: #00f5d4;
    --secondary-color: #f6f7eb;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.50vw;
    transition: color 1.5s ease-in-out 0s;
}

header nav ul li a:hover {
    color: var(--primary-color);
}

header span {
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

/* about me section */

.aboutme {
    margin: 50px auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-me h2 {
    color: #faf9f9;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    flex: 1 30%;
    padding-right: 60px;
}

.about-me span {
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

.about-me p {
    margin: 0 auto;
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    font-size: 20px;
    text-align: left;
}

.about-img {
    flex: 1 12%;
}

.about-img img {
    max-width: 150px;
    float: left;
    margin-left: 50px;
}

.about-text {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 1px solid var(--primary-color);
}

/* showcase section */

.works {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.showcase h2 {
    color: #faf9f9;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    flex: 1 30%;
    padding-right: 60px;
}

.showcase span {
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

.showcase p {
    margin: 0 auto;
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    font-size: 20px;
    text-align: left;
}

/* contact me section */

.contact-info {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-me h2 {
    color: #faf9f9;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    flex: 1 30%;
    padding-right: 60px;
}

.contact-me span {
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

.contact-me p {
    margin: 0 auto;
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    font-size: 20px;
    text-align: left;
}

.contact-me a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.5s ease-in-out 0s;
}

.contact-me a:hover {
    color: var(--secondary-color);
}